/* Third Party CSSS */

/* Paul Irish: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*
*
* Global Styles
*
*/

html {
  font-size: 16px; /*base for rems*/
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

body,td,th,p{
	color: #333;
	line-height: 1.375;
}
body.inside {
  max-height: 100vh;
	background-color: #fdfdfd;
	margin: 0;
  position:relative; 
  display: flex;
  flex-direction: column;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }

/*
*
* Page Content
*
*/


/* -----------------------------------
Navigation 
----------------------------------- */
nav {
  width: 100%;
  
}

.inside nav {
  max-width: 400px;
}

.site-title {
  background-color: #252831;
  color: #fff;
  margin: auto;
  font-size: 1.3rem;
  padding: 10px;
  font-weight: 200;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
}
.breadcrumb {
    padding: 10px;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;
    margin: 0;
    width: 100%;
    text-align: left;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #01447e;
    text-decoration: underline;
}

/* -----------------------------------
 Main Content
 ----------------------------------- */
.maincontent {
  /* max-height: 100%; */
  overflow-y: auto;
  position: relative;
  height: 100%;
}

/* -----------------------------------
 Restaurant Listing  
 ----------------------------------- */
 .section-restaurants {
   position: absolute;
   top: 0;
   overflow-y: scroll;
   height: 100%;
   width: 100%;
 }
.restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.restaurants-list a {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 5px;
  padding: 10px;
  min-width: 310px;
  /* width: 100%; */
}

.restaurants-list a:hover, .restaurants-list a:focus {
  background-color: #fff;
  border: 2px solid #f18200;
}

.restaurant-info-wrapper {
  display: flex;
  justify-content: space-around;
}

.restaurant-info-text{
  width: 100%;
  text-align: left;
  
}

.restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: left;
}

.rating {
  display: flex;
  /* justify-content: space-around; */
}

.rating-text, .rating-stars{
  color: #3397DB;
  padding-right: 5px;
}
.rating-stars {
  font-family: 'FontAwesome';
}
.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0 auto;
  width: 30%;
  align-self: center;
}

.restaurants-list p {
  margin: 0;
}


/* -----------------------------------
 Restaurant Details (restaurant.html)
 ----------------------------------- */
.inside {
  overflow-y: auto;
}


.inside .section-map {
 height: 300px;
}
.inside .map {
  background-color: #ccc;
  height: 90%;
  width: 90%;
  margin: 15px auto;
}

.inside .restaurant-container {
  margin: 0 auto;
  text-align: center;
  max-width: 350px;
}

.inside .restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 25px 0 10px;
  text-transform: uppercase;
  line-height: 1.1;
}
.inside .restaurant-img {
  width: 90%;
  margin: 0 auto;
}
.restaurant-address {
  font-size: 1em;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  /* margin: 0; */
  /* text-align: center; */
}
.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

.restaurant-hours {
  margin: 0 auto;
  width: 100%;
}

.restaurant-hours td, tr, th, tead {
  /* display: block; */
  padding: 4px;
  border-top: dotted 1px black;
  text-align: left;
}


.restaurant-hours td, .restaurant-hours .reviews-list {
  color: #666;
}

.hours-time ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  color: #666;
}

.restaurant-container, .reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  /* padding: 140px 40px 30px; */
  padding: 0 20px;
  width: 100%;
}
.reviews-container {
  max-width: 350px;
  /* padding: 30px 40px 80px; */
  padding: 0 20px;
}
.reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
.reviews-list {
  margin: 0;
  padding: 0;
}
.reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px 20px 20px;
  position: relative;
  width: 100%;
}
.reviews-list li p {
  margin: 0 0 10px;
  
}
.review-comments {
  margin: 0 0 10px;
  cursor: pointer;
}

/* Add  ellipsis to reviews 
Derived from: https://css-tricks.com/line-clampin/ */
.fade-ellipsis {
  line-height: 1.375em;
  max-height: calc(4*1.375em);
  overflow: hidden;
  position: relative;
}

.fade-ellipsis:after {
  content: "...";
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 1.43em; /*slightly larger than line height*/
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

/* -----------------------------------
 Switch between map and list
 ----------------------------------- */
 .switch-view {
   width: 100%;
   padding: 10px 0;

 }

 .switch-view, footer {
   z-index: 50;
 }

/* -----------------------------------
 Footer
 ----------------------------------- */

 .inside footer {
  /* bottom: 0; */
  /* position: absolute; */
  width: 100%;
}

footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.5rem;
  letter-spacing: 0px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  max-width: 400px;
}
/*
*
* Media Queries
*
*/

@media screen and (min-width:420px) {

  body.inside, {
    background-color: red;
    width: 350px;
    z-index: -1;
  }

  nav {
    margin: 0;
  }

  .inside .restaurant-container {
    margin: 10px 15px;
    padding: 0;
    display: inline-block;
    z-index: 1;
    
  }

  .inside .restaurant-name {
    margin: 10px 25px;
  }

  .inside .section-map {
    width: calc(100vw - 400px);
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    z-index: 0;


    position: fixed;
    top:0;
    right: 0;
    padding: 0;
    
  }

  .inside .map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .inside .reviews-container {
    padding: 0;
    width: 350px;
    margin: 0 25px;
    z-index: 1;
  }

  .reviews-list li {
    margin: 10px auto;
  }
}