/* Third Party CSSS */

/* Paul Irish: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Typography sizing based on: http://typecast.com/blog/a-more-modern-scale-for-web-typography */

/*
*
* Global Styles
*
*/

html {
  font-size: 16px; /*base for rems*/
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

body,td,th,p{
	color: #333;
	line-height: 1.25;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative; 
  display: flex;
  flex-direction:column;
  min-height: 100vh;
}
ul, li {
	/* font-family: Arial, Helvetica, sans-serif; */
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Lato', Arial, sans-serif; */
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

h1 { 
  font-size: 2rem; 
  line-height:1.25;
}
h2 {
  font-size: 1.625rem; 
  line-height: 1.1538;
}
h3 { 
  font-size: 1.375rem;
  line-height: 1.1363;
}

/*
*
* Page Content
*
*/


/* -----------------------------------
Navigation 
----------------------------------- */
nav {
  width: 100%;
  /* text-align:center; */
}

.site-title {
  background-color: #252831;
  color: #fff;
  margin: auto;
  padding: 10px;
  font-size: 2rem;
  font-family: 'Vidaloka', 'Times New Roman', Times, serif;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
}


/* -----------------------------------
Main Content
----------------------------------- */
.maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex:1;
}

.mobile-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

/* -----------------------------------
Map
----------------------------------- */

.section-map {
  transform: translate(0,999px);
  transition: transform 1s ease 0.5s, visibility 1s ease 0.5s;
  visibility: hidden;
  z-index: 2;

  width: 100%;
  height:100%;
  
  position: absolute;
  top: 0;
  
  background-color: #ccc;
  overflow: hidden;
  
}

.section-map.show {
  transform: translate(0,0);
  visibility: visible;
}


/* -----------------------------------
 Restaurant Filtering  
 ----------------------------------- */
 .filter-options {
  width: 100%;
  height: 100%;
  /* background-color: #3397DB; */
  align-items: center;
  padding: 10px;
  display: flex;
  align-content: center;
  overflow: auto;
}
.filter-options h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1;
  display: none;
  flex-shrink: 0;
  margin: 0;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  /* font-family: Arial,sans-serif; */
  display: inline-block;
  letter-spacing: 0;
  margin: 0 10px;
  padding: 10px;
  border-radius: 25px;
  flex-grow: 1;
}


/* -----------------------------------
 Restaurant Listing  
 ----------------------------------- */
 .section-restaurants {
   position: absolute;
   top: 0;
   overflow-y: scroll;
   height: 100%;
   width: 100%;
 }
.restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.restaurants-list a {
  background-color: #fff;
  border: 2px solid #ccc;
  /* font-family: Arial,sans-serif; */
  margin: 5px;
  padding: 10px;
  min-width: 310px;
  /* width: 100%; */
}

.restaurants-list a:hover, .restaurants-list a:focus {
  background-color: #fff;
  border: 2px solid #f18200;
}

.restaurant-info-wrapper {
  display: flex;
  justify-content: space-around;
}

.restaurant-info-text{
  width: 65%;
  text-align: left;
  
}

.restaurant-name {
  color: #f18200;
  /* h1 designation for ARIA with h3 sizing */
  font-size: 1.375rem;
  line-height: 1.1363;
  font-weight: 200;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: left;
}

.rating {
  display: flex;
  /* justify-content: space-around; */
}

.rating-text, .rating-stars{
  color: #3397DB;
  padding-right: 5px;
}
.rating-stars {
  font-size: 1.2rem;
  font-family: 'FontAwesome';
}
.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0 auto;
  width: 30%;
  align-self: center;
  

}

.restaurants-list p {
  margin: 0;
}


/* -----------------------------------
 Restaurant Details (restaurant.html)
 ----------------------------------- */
.inside {
  overflow-y: auto;
}

.inside header {
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; */
}

.inside .map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside .map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
.inside .restaurant-name {
  color: #f18200;
  /* font-family: Arial,sans-serif; */
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
.inside .restaurant-img {
	width: 90%;
}
.restaurant-address {
  font-size: 1em;
  margin: 10px 0px;
}
.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
.restaurant-container, .reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
.reviews-container {
  padding: 30px 40px 80px;
}
.reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
.reviews-list {
  margin: 0;
  padding: 0;
}
.reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
.reviews-list li p {
  margin: 0 0 10px;
}
.restaurant-hours td {
  color: #666;
}
/* -----------------------------------
 Switch between map and list
 ----------------------------------- */
 .switch-view {
   width: 100%;
   padding: 10px 0;

 }

 .switch-view, footer {
   z-index: 50;
 }

/* -----------------------------------
 Footer
 ----------------------------------- */

footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.5rem;
  letter-spacing: 0px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
/*
*
* Media Queries
*
*/

@media screen and (min-width: 400px) {


  h1 { 
    font-size: 2.5rem; 
    line-height: 1.125;
  }
  h2 {
    font-size: 2rem; 
    line-height: 1.25;
  }
  h3, .restaurant-name { 
    font-size: 1.5rem; 
    line-height: 1.25;
  }




  .site-title{ 
    z-index: 10;
  }
  .filter-options {
    max-width: 400px;
  }

  .filter-options select {
    padding: 5px 10px;
    border-radius: 25px;
  }
  .section-restaurants {
    max-width: 400px;
    /* position: relative; */
    /* flex-grow: 1; */
  }

   .section-map, .section-map.show {
    transform: translate(0,0);
    visibility: visible;

    border-top: solid 1px #252831; 
    /* max-width: 560px; */
    
    position: absolute;
    right: 0px;
    top: -50px;
    width: calc(100vw - 400px);
    height: 100vh;
    
  }

  .restaurants-list a {
    margin: 10px;
    padding: 15px;
  }

  .switch-view {
    display: none;
    
  }
   
}

/* Minor Breakpoints */

@media screen and (min-width:600px) { 

  body,td,th,p{
    line-height: 1.375;
  }

  h1 { 
    font-size: 3rem; 
    line-height: 1.05;
  }
  h2 {
    font-size: 2.25rem; 
    line-height: 1.25;
  }
  h3,
  .restaurant-name
  { 
    font-size: 1.75rem; 
    line-height: 1.25;
  }
}


