<div id="review-mdl-wrapper" class="modal-wrapper">
  <div class="modal-content">
    
    <!-- https://www.w3.org/WAI/tutorials/foms/custom-controls/ -->

    <form id="form__user-review" action="javascript:void(0)" method="POST" aria-labelledby="review-form-header">
      <div class="form-header" id="review-form-header">
        <h2 class="form-title">Rate & Review</h2>
        <h3 class="form-subtitle">Name of Restaurant</h3>
        <input type="text" value="" style="display:none" name="restaurant_id" disabled>
      </div>

      <div class="form-body">
        <!-- <h3>Add a Review</h3> -->
        <input type="text" placeholder="Name" name="name" required>
        <div role="radiogroup" aria-label="Rating" id="rating__radiogroup" class="rating__radiogroup" aria-label="Rating" required>

          <!-- No Rating -->
          <input id="star0" type="radio" checked class="offscreen radio-star" value="0" name="rating" aria-label="No Rating">

          <!-- One Star -->
          <input id="star1" type="radio" class="offscreen radio-star" value="1" name="rating">
          <label class="star-label" for="star1">
            <span class="offscreen">One Star</span>
            <span class="form-rating-text star">&#61445;</span>
          </label>

          <!-- Two Stars -->
          <input id="star2" type="radio" class="offscreen radio-star" value="2" name="rating">
          <label class="star-label" for="star2">
            <span class="offscreen">Two Stars</span>
            <span class="form-rating-text star">&#61445;</span>
          </label>

          <!-- Three Stars -->
          <input id="star3" type="radio" class="offscreen radio-star" value="3" name="rating">
          <label class="star-label" for="star3">
            <span class="offscreen">Three Stars</span>
            <span class="form-rating-text star">&#61445;</span>
          </label>

          <!-- Four Stars -->
          <input id="star4" type="radio" class="offscreen radio-star" value="4" name="rating">
          <label class="star-label" for="star4">
            <span class="offscreen">Four Stars</span>
            <span class="form-rating-text star"> &#61445;</span>
          </label>

          <!-- Five Stars -->
          <input id="star5" type="radio" class="offscreen radio-star" value="5" name="rating">
          <label class="star-label" for="star5">
            <span class="offscreen">Five Stars</span>
            <span class="form-rating-text star">&#61445;</span>
          </label>

          <div class="rating-error">A rating is required</div>
        </div>

        <textarea name="comments" form="form__user-review" class="multiline-text" placeholder="Tell us about your experience."></textarea>

        <div role="alert" class="form-error"></div>

      </div>

      <div class="form-footer form-buttons">
        <input type="submit" value="Post">
        <a href="#" class="btn-form-cancel modal-cancel" role="button" aria-label="cancel">Cancel</a>

      </div>


    </form>

    <div class="output"></div>

  </div>
</div>

<div id="modal-overlay" class="modal-overlay"></div>