{% extends 'layouts/main.njk' %}

{# Set page variables #}
{% set page_title = "Restaurant Info" %}
{% set body_class = "inside" %}


{# Page Styles#}
{% block user_styles %} 
  <link rel="stylesheet" href="css/inner_styles.css" async />
{% endblock %}


 
{# Main Page Content#}
{% block nav %} 
  <!-- Beginning breadcrumb -->
  <ul class="breadcrumb"> 
    <li><a href="./">Home</a></li>
  </ul>

{% endblock %}

{% block maincontent %} 

  <!--User Options-->
  <div class="user-options">
    <button id="options__favorite" class="uinput__button" role="switch" aria-checked="false">
      <div id="user-favorite-icon" class="button__icon icon-font">&#61578;</div>
      <div class="button__text">Add Favorite</div>
    </button>
    <button id="options__addReview" class="uinput__button">
      <div class="button__icon icon-font">&#61504;</div>
      <div class="button__text">Add Review</div>
    </button>
  </div>

  <!-- Beginning restaurant -->
  <section id="restaurant-container" class="restaurant-container" aria-label="Restaurant information">
    <h1 class="restaurant-name"></h1>
    <a class="restaurant-img-wrapper"></a>
    <p class="restaurant-cuisine"></p>
    <p class="restaurant-address"></p>
    <table class="restaurant-hours" aria-label="Restaurant-hours" role="table"></table>
  </section>

  <section class="section-map" aria-label="Restaurant location">
    <div id="map" class="map"></div>
  </section>

  <!-- Beginning reviews -->
  <section class="reviews-container" aria-label="Restaurant reviews">
    <ul class="reviews-list"></ul>
  </section>
{% endblock %}

{% block post_footer %} 
  <!-- Beginning scripts -->
  <script type="application/javascript" charset="utf-8" src="js/library.js"></script>
  <script type="text/javascript" src="js/restaurant_info.js"></script>
  <!-- Google Maps -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap"></script>
{% endblock %}