//Import the main structure
@import "partials/main";


/*
*
* Global Styles
*
*/

//overwrite header margins
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}

/* -----------------------------------
Navigation 
----------------------------------- */

header {
  max-width: 400px;
}

.site-title {
  /* ARIA designation of h1 but CSS styles of h2*/
  font-size: 1.625rem;
  line-height: 1.1538; 
  letter-spacing: 0;
}

.breadcrumb {
  width: 100%;
  background-color: #eee;
  text-align: left;
  margin: 0;
  padding: 10px;
  list-style: none;
  white-space: nowrap;
  overflow-x: auto;
}

.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #005096;
  text-decoration: none;
}

.breadcrumb .current-page {
  color: #333;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover, .breadcrumb li a:focus {
  color: #b35f00;
    text-decoration: underline;
}

.breadcrumb li .current-page:hover, .breadcrumb li .current-page:focus {
  color: #333;
  text-decoration: underline;
}

/* -----------------------------------
 Main Content
 ----------------------------------- */
 .maincontent {
  overflow-y: auto;
  position: relative;
  height: 100%;
}

/* -----------------------------------
User Options
 ----------------------------------- */
.user-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  max-width: 400px;
  overflow: auto;
}

.uinput__button {
  height: 50px;
  padding: 5px;
  margin: 2px 5px;
  width: 130px; //60px for icon only
  // flex-grow: 1;
  display: flex;
  align-items: center; //vertically
  justify-items: center; //horizontally

  // Style
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #252831;
  text-transform: uppercase;
  color: #252831;

}

.uinput__button:hover, .uinput__button:focus {
  background-color: #252831;
  color: white;
}

.uinput__button:active {
  position: relative;
  top: 2px;
}

.button__icon {
  font-size: 30px;
  width: 40%;
}


//=============Show button text=====================
// .uinput__button {
//   flex-grow: 1;
// }

// .button__icon {
//   width: 40%;
// }


// .button__text {
//   display: block;
// }

//=============Hide button text=====================

// .uinput__button {
//   flex-grow: 0;
// }

// .button__icon {
//   width: 100%;
// }


// .uinput__button:hover .button__text, .uinput__button:focus .button__text {
//   display: block;
// }

// .button__text {
//   display: none;
// }

/* -----------------------------------
Map Container
 ----------------------------------- */

.inside {
  overflow-y: auto;
}


.inside .section-map {
 height: 300px;
}
.inside .map {
  background-color: #ccc;
  height: 90%;
  width: 90%;
  margin: 15px auto;
}


/* -----------------------------------
 Restaurant Details 
 ----------------------------------- */

.inside .restaurant-container {
  text-align: center;
  max-width: 350px;
}

.inside .restaurant-name {
  /* h1 designation for ARIA with h3 sizing (same as name on main page) */
  font-size: 1.375rem;
  line-height: 1.1363;
  font-weight: 200;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
  color:  #b35f00;
}

.inside .restaurant-img-wrapper {
  display: block;
  width: 100%;
}
.inside .restaurant-img {
  width: 90%;
  
  margin: 0 auto;
}
.restaurant-address {
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

/* -----------------------------------
 Restaurant Hours 
 ----------------------------------- */

.restaurant-hours {
  margin: 0 auto;
  width: 100%;
}

.restaurant-hours td, tr, th, thead {
  vertical-align: top;
  padding: 2px;
  border-top: dotted 1px black;
  font-weight: 300;
}
.restaurant-hours .hours-day {
  text-align: center;
}
.hours-time {
  text-align: center;
}
.restaurant-hours td, .restaurant-hours th, .restaurant-hours .reviews-list {
  color: #666;
}
.hours-time ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  color: #666;
}

/* -----------------------------------
 Restaurant Reviews
 ----------------------------------- */

.restaurant-container, .reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 10px 20px;
  width: 100%;
}
.reviews-container {
  max-width: 350px;
  padding: 0 20px;
}

.reviews-list {
  margin: 0;
  padding: 0;
}
.reviews-list li {
  width: 100%;
  position: relative;
  display: block;
  list-style-type: none;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  margin: 0 0 5px;
  padding: 10px;
  overflow: hidden;
}
.reviews-list li p, 
.reviews-list li div 
{
  margin: 0 0 5px;
}
.review-comments {
  cursor: pointer;
}
/* Add  ellipsis to reviews 
Derived from: https://css-tricks.com/line-clampin/ */
.fade-ellipsis {
  line-height: 1.375em;
  max-height: calc(4*1.375em);
  overflow: hidden;
  position: relative;
}
.fade-ellipsis:after {
  content: "...";
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 1.43em; /*slightly larger than line height*/
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

/* -----------------------------------
 Switch between map and list
 ----------------------------------- */
 
 footer {
   z-index: 50;
 }

/* -----------------------------------
 Footer
 ----------------------------------- */

 .inside footer {
  width: 100%;
}
footer {
  background-color: #444;
  color: #dbdbdb;
  font-size: 0.5rem;
  letter-spacing: 0px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  max-width: 400px;
}


/*
*
* Media Queries
*
*/

/* Smallest Screens */

@media screen and (max-width:300px) {

 /* Font sizes */
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px;
  }
  h2 {
    font-size: 1.375rem;
    line-height: 1.1363;
  }
  h3 {
    font-size: 1.3rem;
  }

  /* Site Title */
  .inside .site-title{
    white-space: normal;
  }

  /* User Options */
  .uinput__button {
    flex-grow: 1;
    margin: 2px 5px;
  }

  /* Hours display */
  .restaurant-hours td, .restaurant-hours th {
    display: block;
    padding: 0px;
    padding-left: 20px;
    border-top:none;
    text-align:left;
  }
  .restaurant-hours .hours-day {
    border-top: dotted 1px black;
    text-align:left;

  }

  /* Review Formatting */
  .reviews-list li {
    padding: 5px;
  }
  .fade-ellipsis {
    max-height: calc(3*1.375rem);
  }
  .rating-text, .rating-stars {
    font-size: 1rem;
  }
}


/* Mid-Range Screens */

@media screen and (min-width:400px) {

  header, .user-options, .inside .restaurant-container, .reviews-container, .inside footer {
    width: 70%;
  }
  .reviews-container {
    padding: 10px;
    margin: 2%;
  }
  .inside .section-map {
    width: 30%;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    z-index: 0;
    position: fixed;
    top:0;
    right: 0;
    padding: 0;
    
  }
  .inside .map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

}


/* Larger Screens */
@media screen and (min-width:550px) {

  /* Change font size */
  h1 { 
    font-size: 2.5rem; 
    line-height: 1.125;
  }
  h2,
  .inside .site-title 
  {
    font-size: 2rem; 
    line-height: 1.25;
  }
  h3,
  .inside .restaurant-name
  { 
    font-size: 1.5rem; 
    line-height: 1.25;
  }

  /* Rearrange layout */
  body.inside, {
    // background-color: red;
    // width: 350px;
    // z-index: -1;
  }
  nav {
    margin: 0;
  }
  .inside .restaurant-container {
    margin: 10px 15px;
    padding: 0;
    display: inline-block;
    z-index: 1;
    
  }
  .inside .section-map {
    width: calc(100vw - 400px);
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    z-index: 0;
    position: fixed;
    top:0;
    right: 0;
    padding: 0;
    
  }
  .inside .map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  /* Format restaurant details */
  .restaurant-hours td, .restaurant-hours th, tr, th, tead {
    padding: 4px;
  }
  .inside .reviews-container {
    padding: 0;
    width: 350px;
    margin: 20px 25px;
    z-index: 1;
  }
  .reviews-list li {
    margin: 10px auto;
  }

  .reviews-list li {
    margin: 0 0 15px;
    padding: 15px;
  }
  .reviews-list li p, 
  .reviews-list li div 
  {
    margin: 0 0 10px;
  }

}

/* Largest Screens */

@media screen and (min-width:600px) { 

  body,td,th,p{
    line-height: 1.375;
  }
  h1 { 
    font-size: 3rem; 
    line-height: 1.05;
  }
  h2 {
    font-size: 2.25rem; 
    line-height: 1.25;
  }
  h3,
  .inside .restaurant-name
  { 
    font-size: 1.75rem; 
    line-height: 1.25;
  }
  .restaurant-hours td, .restaurant-hours th, tr, th, tead {
    padding: 6px;
  }
}