<!DOCTYPE html>
<html lang="en">

<head>
  {% block user_styles %} {% endblock %}
  <link rel="stylesheet" href="css/third-party/google-fonts.css" type="text/css" async defer />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" defer />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="70x70" href="icon/mstile-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="icon/android-chrome-32x32.png">
  <link rel="icon" type="image/png" sizes="512x512" href="icon/android-chrome-32x32.png">
  <link rel="manifest" href="/site.webmanifest" async defer>
  <meta name="theme-color" content="#3397db"/> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ page_title }}</title>
</head>

<body class="{{ body_class }}">
  <header>
      <h1 class="site-title">
        <a href="./">Restaurant Reviews</a>
      </h1>
    <nav>
      {% block nav %} {% endblock %}
    </nav>
  </header>

  <section class="notification-wrapper" aria-label="notifications">
    {% block notifications %} {% endblock %}
  </section>

  {% block post_header %} {% endblock %}

  <main class="maincontent">
    {% block maincontent %} {% endblock %}
  </main>

  {% block post_main %} {% endblock %}

  <footer id="footer">
    Copyright (c) 2017
    <a href="./">
      <strong>Restaurant Reviews</strong>
    </a> All Rights Reserved.
  </footer>

  {% block post_footer %} {% endblock %}

</body>

</html>